

.secao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
  }
  .secao-link {
    background-color: #323132;
    color: #fff;
    padding: 1em;
    margin-top: 2em;
    transition: all 0.21s;
    &:hover {
      background-color: #7d7c7c;
      color: #323132;
    }
  }
}
